body {
}
ol{
    list-style-type: none;
}
img {
    width: 100%;
}
.largeimage {
    width: 75%;
}
.imageswitcher {
    display: inline-block;
}
.imageswitcher img {
    width: 5%;
}
.liimageswitcher {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 70px;
    width: 75%;
    white-space: nowrap;
}