body {
}
ol{
    list-style-type: none;
}
img {
}
.largeimage {
    width: 60%;
}
.largeimage img {
    width: 100%;
}
.imageswitcher {
    display: inline-block;
}
.imageswitcher a {
    width:60px;
    height:45px;
    display:inline-block;
}
.liimageswitcher {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 70px;
    width: 60%;
    white-space: nowrap;
}
.current {
    border: 2px solid green;
}